body {
    font-family: Arial, sans-serif;
}
#loading {
    text-align: center;
    margin: 20px;
}

#table {
    border-collapse: collapse;
    margin-left: 40%;
}
#table th, #table td {
    border: 1px solid #ccc;
    padding: 8px;
}